<mat-card>

  <mat-card-header>
    <mat-card-title>
      <h2>Order Summary</h2>
    </mat-card-title>
    <mat-card-subtitle>
      <p>{{order.items.length}} items in the order</p>
      <p>{{order.shippingAddress.name}} | {{order.shippingAddress.address}}</p>
      <p>{{order.shippingAddress.telephone}}</p>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-list>
      <div *ngFor="let item of order.items">
        <mat-list-item>
          <span>{{item.quantity}} x {{item.product.name}}</span>
          =>
          <span>{{item.totalPrice | currency:'BDT'}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </mat-card-content>


</mat-card>