.standard-form {
    min-width: 250px;
    max-width: 300px;
    width: 100%;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}