<mat-table #table [dataSource]="dataSource" matSort>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  <!-- column: shipping name -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Shipping name</mat-header-cell>
    <mat-cell *matCellDef="let order">{{order.shippingAddress.name}}</mat-cell>
  </ng-container>

  <!-- column: product price -->
  <ng-container matColumnDef="dateCreated">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Order date</mat-header-cell>
    <mat-cell *matCellDef="let order">{{order.dateCreated | date:'fullDate'}}</mat-cell>
  </ng-container>

  <!-- column: view detail -->
  <ng-container matColumnDef="viewDetail">
    <mat-header-cell *matHeaderCellDef mat-sort-header>View Detail</mat-header-cell>
    <mat-cell *matCellDef="let order">
      <button mat-button (click)="openOrderDetailDialog(order)">
        view
      </button>
    </mat-cell>
  </ng-container>


</mat-table>