<mat-card *ngIf="product.name">
    <mat-card-header>
      <!-- product name -->
      <mat-card-title>
        <h2>{{product.name}}</h2>
      </mat-card-title>
    </mat-card-header>

    <!-- product image -->
    <img mat-card-image
          *ngIf="product.imageUrl" 
          style="width:100%; height:auto;"
          [src]="product.imageUrl"
          alt="{{product.title}}"/>

    <mat-card-content>
      <!-- product category -->
      <mat-chip>{{product.category}}</mat-chip>
      <!-- product price -->
      <p>{{product.price | currency:'BDT'}}</p>
    </mat-card-content>

    <!-- add to cart  button -->
    <mat-card-actions *ngIf="showActions">
      <button mat-raised-button
              *ngIf="getQuantity() === 0; else updateQuantity"
              color="primary" 
              style="width:100%"
              (click)="addToCart()">
        Add to Cart
      </button>
      
      <ng-template #updateQuantity>
        <div style="border: 1px solid blue">
          <!-- increase item quantity -->
          <button mat-button
                  (click)="removeFromCart()"
                  color="primary">
            <mat-icon>remove</mat-icon>
          </button>
          <mat-chip color="primary">{{getQuantity()}}</mat-chip>
          <!-- decrease item quantity -->
          <button mat-button 
                  (click)="addToCart()"
                  color="primary"> 
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </ng-template>

    </mat-card-actions>
</mat-card>