<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" closed>
    <product-filter [selectedCategory]="selectedCategory"></product-filter>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-icon-button (click)="sidenav.toggle()" >
      <mat-icon>menu</mat-icon>
    </button>
    
    <mat-grid-list cols="3" rowHeight="1:2">
      <mat-grid-tile *ngFor="let product of filteredProducts">
        <product-card 
          [product]="product"
          [shoppingCart]="shoppingCart">
        </product-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav-content>

</mat-sidenav-container>
