<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" closed>
    <product-filter [selectedCategory]="selectedCategory"></product-filter>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-icon-button (click)="sidenav.toggle()" >
      <mat-icon>menu</mat-icon>
    </button>
    
    <div fxLayout="row wrap"  
         fxLayout.xs="column" fxLayoutAlign.xs="center"
         fxLayoutGap="25px">
      <div *ngFor="let product of filteredProducts" >
        <product-card 
          [product]="product"
          [shoppingCart]="shoppingCart">
        </product-card>
      </div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
