<h1>Shopping Cart</h1>

<p>You have {{totalItemsQty}} items in your shopping cart</p>

<mat-table #table [dataSource]="itemsDataSource">

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
   <!-- column: product thumbnail image -->
   <ng-container matColumnDef="image">
    <mat-header-cell *matHeaderCellDef>image</mat-header-cell>
    <mat-cell *matCellDef="let item">
      <div class="thumbnail" [style.backgroundImage]="'url(' + item.imageUrl + ')'"></div>
    </mat-cell>
  </ng-container>

  <!-- column: product name -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Product Name</mat-header-cell>
    <mat-cell *matCellDef="let item">{{item.name}}</mat-cell>
  </ng-container>


  <!-- column: change product qunatity -->
  <ng-container matColumnDef="changeQuantity">
      <mat-header-cell *matHeaderCellDef>Change Quantity</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <product-quantity [product]="item" [shoppingCart]="shoppingCart"></product-quantity>
      </mat-cell>
    </ng-container>

  <!-- column: product unit price -->
  <ng-container matColumnDef="unitPrice">
    <mat-header-cell *matHeaderCellDef>Unit Price</mat-header-cell>
    <mat-cell *matCellDef="let item">
      {{item.getUnitPrice() | currency:'BDT' }}
    </mat-cell>
  </ng-container>


   <!-- column: product total price -->
   <ng-container matColumnDef="totalPrice">
    <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
    <mat-cell *matCellDef="let item">
      {{item.totalPrice | currency:'BDT'}}
    </mat-cell>
  </ng-container>

</mat-table> 
<p>
    Total price {{totalPrice | currency:'BDT'}}
</p>
<div *ngIf="totalItemsQty != 0">
  <a mat-raised-button
    color="primary"
    routerLink="/store/check-out">
    Check Out
  </a>
  <button mat-button 
          (click)="clearCart()"
          color="warn">
    Clear Cart
  </button>
</div>
